@import 'tailwindcss';

@theme {
  --font-sans:
    'Saira', sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

html,
body {
  color: hsl(0, 0%, 27%);
  background: var(--bg-color);
}

body.light,
.light {
  --bg-color: var(--bg-color-lm);
  --bg-hsl: var(--bg-hsl-lm);
  --icon-color: var(--theme-color-blue);
  --text-highlight-color: var(--theme-color-blue);
  --container-bg-color: var(--container-bg-color-lm);
  --input-bg-color: var(--input-bg-color-lm);
  --board-color: var(--board-lm);
  --nav-color: var(--nav-color-lm);
  --ai-input-border-color: var(--ai-input-border-color-lm);
  color: hsl(0, 0%, 27%);
  background: var(--bg-color-lm);
  color-scheme: light;
}

body.dark,
.dark {
  --bg-color: var(--bg-color-dm);
  --bg-hsl: var(--bg-hsl-dm);
  --icon-color: var(--theme-color-green);
  --text-highlight-color: var(--theme-color-green);
  --container-bg-color: var(--container-bg-color-dm);
  --input-bg-color: var(--input-bg-color-dm);
  --board-color: var(--board-dm);
  --nav-color: var(--nav-color-dm);
  --ai-input-border-color: var(--ai-input-border-color-dm);
  color: hsl(0, 0%, 78%);
  background: var(--bg-color-dm);
  color-scheme: dark;
}

h1 {
  letter-spacing: 0.5px;
}

h3 {
  letter-spacing: 2px;
}

p {
  letter-spacing: 1.5px;
  max-width: 60ch;
}

/* Custom CSS Variables */
:root {
  /* Colors (dark mode is default) */
  --bg-color: var(--bg-color-dm);
  --bg-hsl: var(--bg-hsl-dm);
  --bg-hsl-dm: 218, 49%, 10%;
  --bg-hsl-lm: 100, 100%, 99%;
  --bg-color-dm: hsl(218, 49%, 10%);
  --bg-color-lm: hsl(100, 100%, 99%);
  --input-bg-color: var(--input-bg-color-dm);
  --input-bg-color-dm: hsl(218, 26%, 17%);
  --input-bg-color-lm: hsl(90, 14%, 95%);
  --container-bg-color: var(--container-bg-color-dm);
  --container-bg-color-dm: hsla(0, 0%, 77%, 0.05);
  --container-bg-color-lm: hsla(0, 0%, 77%, 0.15);
  --theme-color-blue: hsl(234, 67%, 60%);
  --theme-color-green: hsl(169, 70%, 51%);
  --icon-color: var(--theme-color-green);
  --text-highlight-color: var(--theme-color-green);
  /* Skill-Colors */
  --javascript-color: #f0db4f;
  --html-color: #f06529;
  --css-color: #2965f1;
  --gsap-color: #08d80c;
  --react-color: #61dbfb;
  --git-color: #e84d31;
  --java-color: #ea8c10;
  --npm-color: #c53635;
  /* NAV-Colors */
  --nav-color: var(--nav-color-dm);
  --nav-color-dm: hsla(234, 56%, 74%, 0.3);
  --nav-color-lm: hsla(202, 72%, 35%, 0.3);
  /* TickTackToe-Colors */
  --board-color: var(--board-dm);
  --board-dm: hsl(113, 5%, 68%);
  --board-lm: hsl(218, 48%, 32%);
  /* AiAssistant-Colors */
  --ai-input-border-color: var(--ai-input-border-color-dm);
  --ai-input-border-color-dm: hsl(170, 64%, 21%);
  --ai-input-border-color-lm: var(--theme-color-blue);
}

.Mask {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  min-height: 100%;
  background: linear-gradient(
    45deg,
    var(--theme-color-blue),
    var(--theme-color-green)
  );
  mask-image: url(./svg/Background-Lines.svg);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
  z-index: -1;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: true;
}

@keyframes rotate {
  to {
    --angle: 1turn;
  }
}

.RotatingBorderEffect {
  border: 3px solid transparent;
  background:
    linear-gradient(var(--input-bg-color) 0 0) padding-box,
    conic-gradient(
        from var(--angle),
        var(--input-bg-color),
        var(--ai-input-border-color),
        var(--input-bg-color)
      )
      border-box;
  animation: rotate 2s linear infinite;
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
